extends layout

block layout-content
    .View
    h1.banner rogue
    .Message
        .Title
            h3 calamity
        span.Details access restricted
    .NavButtons
        a(href="/user")
            div.NavButton longingly we wait